{% extends "layout.html" %}

{% block container %}

<div class="flex justify-center mt-10">

<div class="relative bg-neutral-primary-soft max-w-[220px] w-full p-3 border border-default rounded-base shadow-sm">

        <!-- Botón regresar -->
        <div class="mb-3">
            <a href="{{ url_for('maestros.alumnos') }}" 
               class="text-fg-danger text-sm font-medium hover:underline">
                ← Regresar a Alumnos
            </a>
        </div>

        <div class="flex flex-col items-center text-center">

            <!-- Imagen -->
            <!-- Imagen más pequeña -->
    <img class="w-16 h-16 mb-3 rounded-full"
        src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png"
        alt="Maestro"/>

            <!-- Nombre -->
            <h5 class="text-base font-semibold text-heading leading-tight">
                {{ alumno.nombre }} {{ alumno.apellidos }}
            </h5>

            <!-- ID -->
            <span class="text-xs text-body mt-1">
                ID: {{ alumno.id }}
            </span>

            <!-- Email -->
            <span class="text-xs text-body">
                {{ alumno.email }}
            </span>

            <!-- Teléfono -->
            <span class="text-xs text-body mb-3">
                {{ alumno.telefono }}
            </span>

            <!-- Botones -->
            <div class="flex gap-2">

                <a href=""
                    class="text-xs bg-brand text-white px-3 py-1.5 rounded hover:bg-brand-strong transition">
                    Editar
                </a>

                <a href="{{ url_for('maestros.alumnos') }}" 
                    class="text-xs bg-neutral-secondary-medium px-3 py-1.5 rounded hover:bg-neutral-tertiary-medium transition">
                    Volver
                </a>

            </div>

        </div>

</div>

</div>

{% endblock %}